

@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
/*
 * modernaweb.net
 * * * * * * * * * */
body { background: #f4f6f9; }
a:focus,
a:hover {color: #000;}
/* Products
************************** */
table {
    table-layout: auto;
    border-spacing: 0;
    border-collapse: collapse;
    width: 450px;
    margin: 40px auto;
}
table th,
table td {
    border: 1px solid black;
    vertical-align: top;
}
.col-item-name {
    width: 60%;
}
.col-quantity,
.col-price {
    width: 20%;
}
table th {
    background-color: #869960;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
.price_txt {
    text-align: right;
    font-weight: bold;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    color:black;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}
.body2{

    font-family: "Averia Sans Libre", sans-serif;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #ece9e6;
    background: linear-gradient(to right, #ffffff, #ece9e6);

}


.services{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.card {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  width: 200px;
  margin-left: 70px;
  text-decoration: none;
}

.images{
    width: 100px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cards {
  padding: 2px 16px;
}

.cards {
    text-decoration: none;
}

.purchase{

    background-color: #7b68ee;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
}

.title{
    text-align: center;
}
.footer {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 100%;
        height: 100px;
        background-color: #393e46;
    }
.group{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 35px;
    padding: 0 35px;
}
.input{
    width: 350px;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px white;
        outline: none;

}
.label {
        position: absolute;
        transition: all 0.5s ease;
        pointer-events: none;
    }
.btn {
    background-color: transparent;
    outline: none;
    padding: 3px;
    padding-bottom: 0;
    margin: 35px 0;
    border: none;
    border-bottom: solid 1px white;
    transition: all 1s linear;
}
.headers{
    display: flex;
    margin-left: 90px;
}
.header{
    margin-top: 17px;
    margin-left: 170px; 
}
.header ul{
    list-style: none;
}
.header li{
    display: inline;

    margin-left: 60px; 
}

